services:
  drupal:
    image: drupal:9
    ports:
      - 8080:80
    volumes:
      - drupal-sites:/var/www/html/sites
      - drupal-profiles:/var/www/html/profiles
      - drupal-modules:/var/www/html/modules/custom
      - drupal-themes:/var/www/html/themes/custom
    restart: always
  postgres:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: blah
    restart: always

volumes:
  drupal-modules:
  drupal-profiles:
  drupal-sites:
  drupal-themes: